@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-self: center;
    background-color: rgb(21, 23, 23);
}
.calculator{
    border: 1px solid #0a0000;
    padding: 10px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(239, 209, 110, 0.2);
    margin: 20px auto;
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px ;
    text-align: right;
    cursor: pointer;
    color: #F5BF03;
}
input::placeholder{
    color: #F5BF03;    
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 20px;
     box-shadow:-8px -8px 15px rgba(239, 209, 110, 0.2);
     cursor: pointer;
     transition: all 1s;
}
button:hover{
    background-color: #F5BF03;
}
.equalTo{
    background-color: #F5BF03;
}
.operator{
    color: #F5BF03;
    transition: all 1s;
}
.operator:hover{
    background-color: rgba(197, 183, 136, 0.669);
}

